---
// Imports
import Layout from "../layouts/Layout.astro";
import Hero from "../components/ui/Hero.astro";
---

<Layout title="Snowy | Main">
  <!-- Hero -->
  <Hero />

  <!-- Manifesto | About -->
  <section class="mt-24" id="Manifesto">
    <h2 class="text-2xl font-bold border-b pb-2">Manifesto</h2>
  </section>
</Layout>
