<div
  class="mt-20 p-8 md:p-14 border-t-2 border-b-2 border-red-900/50 bg-black/90 backdrop-blur-md relative overflow-hidden shadow-[0_0_40px_rgba(0,0,0,0.3)]"
>
  <div
    class="absolute -top-24 -left-24 w-48 h-48 bg-red-900/20 blur-[100px] pointer-events-none"
  >
  </div>

  <div class="relative z-10">
    <div class="flex flex-col gap-1 mb-10">
      <div class="flex items-center gap-3">
        <span class="h-[2px] w-8 bg-red-600"></span>
        <span
          class="text-red-500 font-mono text-[11px] tracking-[0.5em] uppercase font-bold"
        >
          Aviso del Sistema
        </span>
      </div>
      <h2
        class="text-3xl md:text-4xl font-black text-white tracking-tighter uppercase italic"
      >
        Nota de <span class="text-red-600">Aclaratoria</span>
      </h2>
    </div>

    <article
      class="prose prose-invert max-w-none
      prose-p:text-neutral-200 prose-p:leading-relaxed prose-p:text-xl md:prose-p:text-2xl
      prose-strong:text-white prose-strong:font-black prose-strong:underline prose-strong:decoration-red-800
      prose-span:text-red-500 prose-span:font-mono"
    >
      <p>
        Este espacio opera bajo una lógica puramente <strong
          >creativa y expresiva</strong
        >. No existe beneficio económico ni fines comerciales; es una extensión
        de la subjetividad personal en el tejido digital.
      </p>

      <p>
        Las estéticas aquí presentes se inspiran en la <strong
          >atmósfera opresiva de Silent Hill</strong
        >
        y la melancolía del <strong>Lo-fi</strong>. Son fragmentos de un mundo
        imaginario, no reflejos literales de la realidad.
      </p>

      <p>
        <strong>Privacidad:</strong> No se revelarán nombres, rostros ni eventos privados.
        Este proyecto respeta el anonimato de terceros, utilizando solo elementos
        abstractos para la composición.
      </p>
    </article>

    <div
      class="mt-12 pt-6 border-t border-neutral-800/50 flex flex-col md:flex-row justify-between items-start md:items-center gap-4"
    >
      <div class="font-mono text-[11px] text-white uppercase tracking-widest">
        Id: <span class="text-red-600 animate-pulse">SNXWY_PROY_JA</span>
      </div>

      <div class="flex items-center gap-2">
        <span class="font-mono text-[10px] text-white bg-neutral-900 px-2 py-1">
          ESTADO:
        </span>
        <span
          class="font-mono text-[10px] text-yellow-500 bg-neutral-900 px-2 py-1 animate-pulse border border-yellow-500/20"
        >
          ACTIVO
        </span>
      </div>
    </div>
  </div>
</div>
