<!-- 
  Componente de Navegación:
  Este componente renderiza la barra de navegación principal del sitio web.
-->
<nav class="flex justify-center items-center gap-4 p-11">
  <!-- 
    Lista de enlaces de navegación  -->
  <ul class="flex gap-34">
    <!-- 
      Enlace a la sección 'Manifesto'
    -->
    <a href="#Manifesto" class="border-b hover:text-red-600"
      ><li></li>Manifesto</a
    >
    <!-- 
      Enlace a la página de 'Inicio' 
    -->
    <a href="/" class="border-b hover:text-orange-600"><li></li>Inicio</a>
    <!-- 
      Enlace a la sección 'Mente'
    -->
    <a href="#" class="border-b hover:text-indigo-600"><li></li>Mente</a>
  </ul>
</nav>
